body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.btn_container {
    /* background: white; */
    background: #21b500;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 120px; */
    overflow: hidden;
    /* padding: 20px; */
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.435);
}

.backy {
    /* background-color: #21b500; */
    background-color: #fff;
    /* width: 300px; */
    /* height: 120px; */
    width: 100px;
    height: 40px;
    /* position: absolute; */
    position: relative;
    /* top: 120px; */
    top: 40px;
    border-radius: 7px;
}

.content {
    position: absolute;
    /* border-radius: 20px; */
    border-radius: 7px;
    /* background-color: rgba(76, 180, 222); */
    /* color: #21b500; */
    color: #fff;
    /* box-shadow: 0 0 20px 5px #555; */
    /* width: 300px;
    height: 120px; */
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    /* font-size: 1.7rem; */
    font-size: 0.7rem;
    font-weight: bold;
    z-index: 1000;
}

.content:hover {
    cursor: pointer;
    /* color: white; */
    color: #21b500;
    transition: 400ms;
    /* top: 0; */
}

.btn_container:hover .backy {
    transition: 400ms;
    top: 0px;
}